{% extends "base.html" %} {% load static %} {% block members %}
<!-- Speakers Wrapper Start -->
<div data-scroll-index="3" id="members" style="width: 100%; float: left">
  <div class="lv_speakers_wrapper lv_toppadder100 lv_bottompadder100">
    <div class="lv_img_overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 lv_full_width">
          <div class="lv_heading_center">
            <h1>Our Team</h1>
            <p>
              Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
              lorem quis bibendum auctor, nisi elit consequat ipsum, nec
              sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
              cursus.
            </p>
          </div>
        </div>
      </div>
      {% for cell in cells %}
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 lv_full_width">
            <div class="lv_heading_center">
              <h1>Cellule {{cell.nom}}</h1>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="lv_speakers_box">
              <div class="lv_speakers_box_img">
                <img src="/media/{{ cell.chef.image }}" alt="{{cell.chef.nom}} {{cell.chef.prenom}}" />
                <div class="lv_speakers_box_social">
                  <ul>
                    <li>
                      <a target="_blank" href="{{cell.chef.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="lv_speakers_box_text">
                <h3>{{cell.chef.nom}} {{cell.chef.prenom}}</h3>
                <p>Chef</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="lv_speakers_box">
              <div class="lv_speakers_box_img">
                <img src="/media/{{ cell.co_chef.image }}" alt="{{cell.co_chef.nom}} {{cell.co_chef.prenom}}" />
                <div class="lv_speakers_box_social">
                  <ul>
                    <li>
                      <a target="_blank" href="{{cell.co_chef.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="lv_speakers_box_text">
                <h3>{{cell.co_chef.nom}} {{cell.co_chef.prenom}}</h3>
                <p>Co-Chef</p>
              </div>
            </div>
          </div>
          {% for member in cell.members.all %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="lv_speakers_box">
                <div class="lv_speakers_box_img">
                  <img src="/media/{{ member.image }}" alt="{{member.nom}} {{member.prenom}}" />
                  <div class="lv_speakers_box_social">
                    <ul>
                      <li>
                        <a href="{{member.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="lv_speakers_box_text">
                  <h3>{{member.nom}} {{member.prenom}}</h3>
                  <p>member</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {%endfor%}
      
    </div>
  </div>
</div>
<!-- Speakers Wrapper End -->

{% endblock members %}